@mixin flex ($direction, $wrap, $justify, $align, $gap) {
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}
@mixin flexSimple ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}