$fontHeadings: "Lora";
$fontBody: "Roboto";

$primaryColor: #F2EAC3;
$colorOpuesto: #514BFF;
$colorBlanco: #fff;
$colorNegro: #00000075;
$colorLetras: #808080;
$colorTitulos: #53585a;
$fondoClaro: #f9f9f9;
$grisLetrasFooter: #babcbd;
$negroSobreImagen: #000000b6;